html, body, div, span, applet, object, iframe,html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@link-color: #80EAFF;
@highlight-color: #FF2469;
@fancy-font: 'Ubuntu Condensed', sans-serif;
@fancy-code-font: 'Ubuntu Mono', sans-serif;
@default-font: Helvetica Neue, Helvetica;
@default-color: #A0A0B1;

body {
  font-family: @default-font;
  font-size:26px;
  background:#F5F2EC;
  color: @default-color;
  line-height:1.5em;
}

#container {
  width:940px;
  margin:1em auto;
}

h1 {
   font-size:50px;
   font-weight:bold;
   font-family: @fancy-font;
}

.rounded (@radius: 4px) {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}

.shadowed (@x:0px, @y: 0px, @blur: 3px, @color: #D6F5FF) {
  @val: @x @y @blur @color;
  box-shadow:         @val;
  -webkit-box-shadow: @val;
  -moz-box-shadow:    @val;
}


input[type="text"] {
  .rounded;
  .shadowed;
  
  font-size:24px;
  pading:.25em;
  border:1px solid #ccc;
  
  -moz-box-shadow:0px 0px 3px #D6F5FF;
  -webkit-box-shadow:0px 0px 3px #D6F5FF;
  box-shadow:0px 0px 3px #D6F5FF;
}

input[type="text"]:hover {

}

form {
  display:block;
  margin:1em;
}

.at {
  color:#E7E7E7;
}

.version {
  font-weight:bold;
}

a:link, a:visited {
  text-decoration:none;
  color: @link-color;
}

a span {
  color:@highlight-color;
}

.help {
  font-size:50%;
  font-family: @fancy-code-font;
}

input[type='text'] {
  font-family: @fancy-font;
}