* { margin:0; padding:0; }
body { font-family:helvetica, arial; font-size:18px; color:#333; }
#container { width:960px; margin:0 auto; }
a:link, a:visited {
  color:#FF0D59; text-decoration:none;
  text-shadow:#333 0 0;
}
a:hover { }
ul, li { list-style:none; }
h1#title { font-size:190px; line-height: 1em; }
h2, h1 { font-size:70px; line-height: 1em; }
h1#title span { color: #FF0D59; }
input[type="text"] { font-size:60px; margin:.25em 0; }